h1 {
  font-size: 2em;
}

button {
  padding: 4px 24px;
  border-width: 1px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #eee;
}

button:hover {
  background: #ddd;
}

button:active {
  position: relative;
  top: 2px;
}

input {
  padding: 4px 12px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

label {
  margin-left: -18px;
}
