.value-viewer {
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.value-viewer::before {
  content: "ValueViewer";
  display: block;
  margin-bottom: 12px;
  font-size: 80%;
  font-weight: 700;
  color: #999;
}
